### ignore OS specifics ################################################################################################
*~
.directory
.fuse_hidden*
.nfs*
.Trash-*
.DS_Store*
Thumbs.db
ehthumbs.db
.bash_history
.bashrc
errors.log

### ignore IDE Settings ################################################################################################

#### Eclipse
.project
.pydevproject
.settings
.buildpath

#### JetBrains
/.idea/
.idea/
.idea_modules/

#### Netbeans
nbproject
nbbuild/
nbdist/
.nb-gradle/

#### Pinegrow
_pgbackup
pinegrow.json

#### Editors
*.swp
*.*~
.vim

### ignore package manager's stuff #####################################################################################

#### Node.js, Yarn, Bower
bower_components
node_modules/
.npm
.node_repl_history
.yarn-integrity
package-lock.json

#### composer
/vendor/*

### ignore Build system stuff ##########################################################################################

#### Runtime data
pids
*.pid
*.seed
*.pid.lock

#### Sass
.sass-cache/
*.css.map

#### Temporary Folders
tmp/

### ignore test results folder #########################################################################################
/tests/results

### ignore Log files ###################################################################################################
*.logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
php.log
logs/*
!logs/.gitkeep

### ignore sensitive data ##############################################################################################
